/* Change CSS of payment success details page. */

.sc-payment-details-wrap {
	background: #e6e6e6; /* light grey */
	border: 1px solid #999999; /* dark grey */
	font-family: Arial, sans-serif;
	font-size: 10px;
}

/* Default CSS from plugin (unless disabled in default settings). */

/*
.sc-payment-details-wrap {
	background: #dff0d8;
	border: 0;
	padding: 15px;
	margin-bottom: 15px;
}
*/
